@import url("https://fonts.googleapis.com/css?family=Lato");
@font-face {
  font-family: 'Simplifica';
  src: url('../fonts/Simplifica.ttf') format('truetype');
}

/* BASE */
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background-color: #F2F2F2;
  width: 100%;
  position: relative;
  font-family: "Lato", sans-serif;
}
nav {
  height: 46px;
}
/* NAVIGATION */
.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  position: fixed;
  background-color: #F2F2F2;
  width: 100%;
  z-index: 1;
  transition: opacity 0.5s ease-out;
}
.navigation li {
  display: inline-block;
}
.navigation a {
  display: inline-block;
  color: #3C3C3C;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  font-family: "Lato", sans-serif;
}
.navigation a:hover {
  color: #333333;
  box-shadow: inset 0 -1px 0 0 #393939;
}
.hidden {
  opacity: 0;
  visibility: hidden;
}
/* HEADER CONTENT */
header {
  background-size: contain;
  max-height: 100%;
  max-width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Lato", sans-serif;
  line-height: 1px;
}
.header-item__logo {
  width: 300px;
  max-width: 100%;
  height: auto;
  padding-bottom: 40px;
  padding-top: 40px;
}
.header-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  left: 50%;
  font-family: Simplifica;
  font-size: 50px;
}
.header-item__sub {
  font-family: Simplifica;
  font-size: 35px;
}
/* ABOUT ME SECTION */
.about {
  max-height: 100%;
  height: 700px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.about-container {
  width: 550px;
  max-width: 100%;
  padding-left: 50px;
}
.about-text {
  line-height: 1.5;
  text-align: justify;
}
.about-text a {
  text-decoration: none;
  color: black;
}
.about-text span:nth-child(1){
  border-bottom: 2px solid green;
}
.about-text span:nth-child(2){
  border-bottom: 2px solid #4FC08D;
}
.about-text span:nth-child(3){
  border-bottom: 2px solid #CF4647;
}
.about-text span:nth-child(4){
  border-bottom: 2px solid #55A7DD;
}
.about-text span:nth-child(5){
  border-bottom: 2px solid black;
}
.about-text span:nth-child(6){
  border-bottom: 2px solid #75AED6;
}
.about-text span:nth-child(7){
  border-bottom: 2px solid black;
}
#about-image {
  width: 250px;
  max-width: 100%;
  height: auto;
  align-self: flex-end;
}
/* PROJECT SECTION */
.project {
  max-height: 100%;
  height: 700px;
  max-width: 100%;
  background-color: #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.project-text {
  width: 500px;
  max-width: 100%;
  color: white;
  padding-right: 50px;
}
.project p {
  line-height: 1.5;
  text-align: justify;
}
#project-image {
  width: 250px;
  max-width: 100%;
  height: auto;
  align-self: flex-end;
}
.project-title {
  color: white;
}
.project-button__download {
  width: 500px;
  max-width: 100%;
  height: 40px;
  background-color: #2E2E2E;
  border: none;
  color: white;
}
.project-button__download:hover {
  box-shadow: 1px 1px 5px #424242;
}
.project-button__download:active {
  position: relative;
  top: 1px;
}
.project-button__download a {
  text-decoration: none;
  color: white;
}
/* CONTACT SECTION */
.contact {
  height: 700px;
  max-height: 100%;
  max-width: 100%;
  font-family: 'Lato';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact h2 {
  font-size: 30px;
}
.contact iframe {
  height: 300px;
  width: 100%;
  max-width: 700px;
  max-height: auto;
}
.contact-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.contact-container__social {
  align-self: flex-start;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
}
.contact-button {
  border: none;
  background-color: transparent;
  font-family: 'Lato';
  width: 140px;
  max-width: 100%;
  height: 40px;
  border-top: 1px solid #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  margin-bottom: 20px;
}
.contact-button:hover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.fa:before {
  padding-right: 10px;
}
#mapkit {
    height:400px;
    width:900px;
}
input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 1px solid #424242;
}
input[type=submit] {
    width: 300px;
    max-width: 100%;
    height: 40px;
    background-color: #2E2E2E;
    border: none;
    color: white;
}
input {
  display: block;
  box-sizing: border-box;
}
textarea {
  width: 300px;
  height: 150px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  resize: none;
  border: 1px solid #424242;
  margin-bottom: 5px;
}
button:focus, input:focus, textarea:focus {outline:0;}

/* MEDIA QUERY */
@media (max-width: 1000px) {
  .about {
    flex-direction: column-reverse;
  }
  .project {
    flex-direction: column;
  }
  #about-image {
    align-self: center;
  }
  #project-image {
    align-self: center;
  }
  .about-container {
    padding-left: 0;
  }
  .project-text {
    padding-right: 0;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container__social {
    margin-top: 10px;
    margin-bottom: 10px;
    align-self: center;
    padding-left: 0;
  }
}

@media (max-width: 730px) {
  .about-container {
    width: 300px;
    padding-left: 0;
  }
  .project-text {
    width: 300px;
  }
}
/* For some reason the svg is not responsive in firefox, so i am using this to set the height which seems to fix the issue*/
@-moz-document url-prefix() {
  #project-image {
    height: 300px;
  }
}
